main {
    border: 5px solid palevioletred;
    width: 70%;
}

header {
    font-size: 1rem;
}

section {
    border: 5px dashed tomato ;
    font-size: 2rem;
    width: 50vw;
    height: 15vh;
}

h1 {
    font-size: 2em;
}
